.tagContainer {
    background: #ffd3b6;
    color: #524238;
    padding: 0.3rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    letter-spacing: 0.4px;
    display: inline-flex;
    font-weight: 600;
}
