.tagContainer {
	background-color: #f0c3c4 !important;
	color: #3d1011 !important;
	padding: 0.3rem;
	font-size: 0.8rem;
	border-radius: 0.5rem;
	letter-spacing: 0.4px;
	display: inline-flex;
	font-weight: 600;
}
