@font-face {
    font-family: "ObjectSans";
    src: local("ObjectSans"),
        url(./fonts/ObjectSans-Regular.otf) format("opentype");
}

@font-face {
    font-family: "ObjectSansHeavy";
    src: local("ObjectSansHeavy"),
        url(./fonts/ObjectSans-Heavy.otf) format("opentype");
}

.App {
    box-sizing: border-box;
    background-color: #000000;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh;
}
